*{
    padding: 0;
    margin: 0;
    font-family: Monserrat;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #091921;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}
#one{
    height: 300px;
    width: 300px;
    display: flex;
    font-size: 30px;
    letter-spacing: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transform-style: preserve-3d;
    margin: 20px;

}
#one #description{
    position: absolute;
    transform: translateZ(20px) scale(0);
    background-color: red;
    top: 60%;
    left: 10%;
    height: 150px;
    width: 80%;
    transition: 0.5s;
}
#one:hover #description{
    transform: translateZ(20px) scale(1);
}
#one:hover{
    box-shadow: 0 50px 80px rgba(0, 0, 0, 0.2);
}